#Aurthor Marcus Palmer
#Date: 2022
#UWE Disertation

#Import these libraries using pip
# Used by pip to install required python packages
# Usage: pip install -r requirements.txt

Flask
Pillow
pytz
pyperclip